<html>
  <head>
    <title>C4C Fellowship</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <style>
      #something {
        position: absolute;
        height: 200px;
        width: 400px;
        margin: -40px 0 0 -200px;
        top: 20%;
        left: 50%;
      }
    </style>
  </head>

  <body
    background="../img/backnew.png"
    style=" background-repeat: no-repeat;  background-size: cover;"
  >
    <div id="something">
      <center>
        <h4><b>Code For Canada</b></h4>
      </center>
      <div style="margin-top: 4%; margin-bottom: 1%">
        <input
          type="button"
          class="btn btn-primary btn-block"
          id="getBC"
          value="Get Building Conditions's details"
        />
        <input
          type="button"
          class="btn btn-primary btn-block"
          id="getAP"
          value="Get Animal and Pest's details"
        />
        <input
          type="button"
          class="btn btn-primary btn-block"
          id="getGR"
          value="Get Garbage and Reuse's details"
        />
      </div>
      <div style="margin-top: 1%; margin-bottom: 1%">
        <input
          type="button"
          class="btn btn-primary btn-block"
          id="getUC"
          value="Get Unsanitary Conditions's details"
        />

        <input
          type="button"
          class="btn btn-primary btn-block"
          id="getVG"
          value="Get Vegetation's details"
        />
        <input
          type="button"
          class="btn btn-primary btn-block"
          id="getCH"
          value="Get Chemical Hazards's details"
        />
      </div>

      <div style="margin-top: 1%; margin-bottom: 1%">
        <input
          type="button"
          class="btn btn-primary btn-block"
          id="getBI"
          value="Get Biohazards's details"
        />

        <input
          type="button"
          class="btn btn-primary btn-block"
          id="getRF"
          value="Get Retail Food's details"
        />

        <input
          type="button"
          id="getAPO"
          class="btn btn-primary btn-block"
          value="Get Air Pollutants and Odors's details"
        />
      </div>
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../helper/index.js"></script>
</html>
